body {
  background-image: url('../img/bg-post-it.jpg');
}
.header-text {
    color: rgb(86, 68, 68);
    font-size: 24px;
  }
  
.nixie-tube-lights {
  font-size: 10vh;
  font-family: 'Courier New', Courier, monospace;
  color: #ffc400;
  text-shadow: 2px 2px 0.07em orange, -2px -2px 0.07em orange,  -3px 3px 0.06em orange,  3px -3px 0.06em orange;
}
