.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: cadetblue;
}

.wrapper button {
    padding: 10px 15px;
    min-width: 100px;
    background-color: rgb(114, 114, 114);
    color: whitesmoke;
    font-style: bold;
    font-size: 20px;
    cursor: pointer;
}

.accordion {
    width: 500px;
}
span{
    user-select: none;
}
.item {
    background: #563478;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: white;
    height: auto;
}